@model CoursePortal.Models.User

@{
    ViewData["Title"] = "Course Portal";
}

<div class="text-center">
    <h1 class="display-4">Register page</h1>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Login)
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Login)
                    @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password)
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.isAuthor)
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.isAuthor, new { @checked = false })
                    @Html.ValidationMessageFor(model => model.isAuthor, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Return back</a>

        </div>
        }
    </div>
</div>
